head {
    h2 {font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif}
}
title { justify-content: center;
align-items: center;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;}

h2 { align-items: center; }
body {
    background-color: rgb(139, 154, 199);
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    height: 100vh;
    h3{font-family: cursive;}
}
.input-container {
    width: 90%;
    height: 550px;
    display: flex;
    flex-direction: row;
    background: rgb(150, 252, 252);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px;
    align-items: center;
}
.main-container {
    background-color: aquamarine;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 900px;
    border-radius: 10px;
    box-shadow: 0 0 15px;
    padding: 20vx; 
}

.result-row {
    width: 45%;
    height: 100%;
    background: rgb(200, 240, 255);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px black;
    text-align: center;
}
.input-group, .output-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    margin-top: 15px;
}
.button-group{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
input {
    width: 80%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid black;
    text-align: center;
    font-size: 16px;
}